html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: rgb(236, 236, 236);
  font-size: 14px;
}

@font-face {
  font-family: Karrik;
  src: url("fonts/Karrik-Regular.ttf");
  src: url("fonts/Karrik-Regular.woff");
  src: url("fonts/Karrik-Regular.woff2");
  font-style: normal;
}

@font-face {
  font-family: Karrik;
  src: url("fonts/Karrik-Italic.ttf");
  src: url("fonts/Karrik-Italic.woff");
  src: url("fonts/Karrik-Italic.woff2");
  font-style: italic;
}

@font-face {
  font-family: Archivo;
  src: url("https://cdn.glitch.com/b0f38a5f-fd5b-4a93-a669-dd9ce2328985%2FArchivo-Regular.ttf?v=1615548913164");
}

header,
footer {
  position: fixed;
  text-align: center;
  width: 100vw;
  color: #000;
  margin: 0;
  padding: 0;
  z-index: 100;
  pointer-events: none;
}

footer {
  bottom: 0;
}

h1 {
  font-family: "Karrik", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 3em;
  pointer-events: none;
}

h2 {
  font-family: "Karrik", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  pointer-events: all;
}

h3 {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  pointer-events: all;
}

p {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  pointer-events: all;
}

.menu {
  color: #000;
  font-family: "Karrik", Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  pointer-events: all;
}

.menu:hover {
  font-style: italic;
}

.credits {
  color: #000;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-decoration: none;
  pointer-events: all;
}

.credits:hover {
  font-style: italic;
}

canvas {
  display: block;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

#picker {
  height: max-content;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
}

#tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

.archive {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.parent {
  width: max-content;
  text-align: center;
}

.child {
  width: 50vw;
  text-align: left;
}

#images {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw;
  grid-gap: 4vw;
  color: #444;
}

img {
  width: 13vw;
  border: 1px solid black;
}

button {
  outline-style: 0;
  background: none;
  border: none;
  font-family: "Karrik", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  color: black;
  text-decoration: none;
  cursor: default;
}

button:hover {
  cursor: pointer;
  font-family: "Karrik", Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #000000;
}
